@import "./variables";

.hero {
    height: 90vh;
    width: 100%;
    background-color: $color-purple;
    padding: 35vh 0 50vh 125px;
    color: #fff;
   
    div {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        h1 {
            font-size: 2.5rem;
        }

        h4 {
            font-size: 1.35rem;
            margin: 35px;
        }

        button {
            cursor: pointer;
            margin-left: 150px;
            padding: 10px;
            border-radius: 7px;
            border-style: none;
        }
    }
}