@import "./variables";

.itemContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    align-items: center;
    grid-gap: 50px;
    
    article {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 300px;
        width: 300px;
        border-radius: 7px;
        background-color: $color-vino;
    }
}