@import "./variables";

.NavbarItems {
    z-index: 100;
    width: 100vw;
    position: fixed;
    background-color: $color-purple;
    height: 60px;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        text-decoration: none;
    }

    h1 {
        color: #fff;
        font-weight: 500;
        transition: color ease .25s;

        &:hover {
            color: $color-pink;
            span {
                color: #fff;
            }
        }

        span {
            color: $color-pink;
            font-weight: 100;
            transition: color ease .25s;

            &:hover {
                color: #fff;

            }
        }
    }

    .navbarLinks {
        text-align: center;
        list-style: none;
        display: flex;

        p {
            color: #fff;
            text-decoration: none;
            margin-right: 1rem;

            &::before {
                content: '<';
                color: transparent;
                font-weight: bold;
                position: relative;
                top: 1px;
                transition: all ease .3s;
            }

            &::after {
                content: '>';
                color: transparent;
                font-weight: bold;
                position: relative;
                top: 1px;
                transition: all ease .3s;
            }
        }

        li:hover p::before {
            color: $color-pink;

        }

        li:hover p::after {
            color: $color-pink;

        }
    }
}