* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.NavbarItems {
  background-color: #3807b0;
  height: 60px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavbarItems a {
  text-decoration: none;
}
.NavbarItems h1 {
  color: #fff;
  font-weight: 500;
  transition: color ease 0.25s;
}
.NavbarItems h1:hover {
  color: #fe30af;
}
.NavbarItems h1 span {
  color: #fe30af;
  font-weight: 100;
  transition: color ease 0.25s;
}
.NavbarItems h1 span:hover {
  color: #fff;
}
.NavbarItems .navbarLinks {
  text-align: center;
  list-style: none;
  display: flex;
}
.NavbarItems .navbarLinks p {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}
.NavbarItems .navbarLinks p::before {
  content: "<";
  color: transparent;
  font-weight: bold;
  position: relative;
  top: 1px;
  transition: all ease 0.3s;
}
.NavbarItems .navbarLinks p::after {
  content: ">";
  color: transparent;
  font-weight: bold;
  position: relative;
  top: 1px;
  transition: all ease 0.3s;
}
.NavbarItems .navbarLinks li:hover p::before {
  color: #fe30af;
}
.NavbarItems .navbarLinks li:hover p::after {
  color: #fe30af;
}

/* nav-icon-6 */
.nav-icon-6 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  transition: all ease 0.25s;
}
.nav-icon-6:hover span {
  background-color: #f39c12;
}
.nav-icon-6 span {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}

.nav-icon-6 span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.nav-icon-6 span:nth-child(2) {
  top: 13px;
  left: 0px;
  opacity: 1;
}

.nav-icon-6 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.nav-icon-6:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.nav-icon-6:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.nav-icon-6:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.nav-icon-6.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.nav-icon-6.open span:nth-child(2) {
  opacity: 0;
}

.nav-icon-6.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

.cardWidget {
  margin-right: 20px;
}
.cardWidget .MuiSvgIcon-root {
  color: red;
}
.cardWidget .MuiBadge-badge {
  background-color: aqua;
  color: black;
}

.hero {
  height: 90vh;
  width: 100%;
  background-color: #3807b0;
  padding: 35vh 0 50vh 125px;
  color: #fff;
}
.hero div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.hero div h1 {
  font-size: 2.5rem;
}
.hero div h4 {
  font-size: 1.35rem;
  margin: 35px;
}
.hero div .btn {
  cursor: pointer;
  margin-left: 150px;
  padding: 10px;
  border-radius: 7px;
  border-style: none;
}

.itemContainer {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: space-around;
  align-items: center;
  grid-gap: 35px;
  margin: 75px 200px 75px 200px;
}
.itemContainer .product-grid {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.itemContainer .product-grid .product-image {
  overflow: hidden;
  position: relative;
}
.itemContainer .product-grid .product-image img {
  width: 100%;
  height: auto;
}
.itemContainer .product-grid .product-content {
  padding: 17px 15px;
}
.itemContainer .product-grid .product-content a {
  text-decoration: none;
}
.itemContainer .product-grid .product-content .title {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 7px;
  color: #777;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  cursor: pointer;
}
.itemContainer .product-grid .product-content .title:hover {
  color: #000;
}
.itemContainer .product-grid .product-content .price {
  color: #777;
  font-size: 14px;
  font-weight: 700;
}
.itemContainer .product-description {
  grid-column: 2/4;
  width: 500px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.itemContainer .product-description p {
  padding: 10px;
}
.itemContainer .product-description .price {
  color: #777;
  font-size: 23px;
  font-weight: 700;
}

.countContainer {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.countContainer .count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}
.countContainer .active {
  opacity: 0;
  cursor: default;
}

.countBtn {
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
  border-style: none;
  transition: all 0.7s;
}
.countBtn:hover {
  background-color: #000;
  color: #fff;
}

.itemCart .product-cart {
  margin: 50px;
  display: grid;
  grid-template-columns: 200px 170px 1fr 1fr;
  grid-template-rows: 150px 150px;
}
.itemCart .product-cart span {
  font-weight: bold;
  color: #000;
}
.itemCart .product-cart img {
  height: 300px;
  width: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-right: 80px;
}
.itemCart .product-cart .product-content {
  display: flex;
  align-items: center;
  grid-column: 2/5;
  padding-left: 50px;
}
.itemCart .product-cart .product-content h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 7px;
  color: #777;
  transition: all 0.3s ease 0s;
}
.itemCart .product-cart .product-content a {
  text-decoration: none;
}
.itemCart .product-cart .product-price {
  grid-column: 2;
  grid-row: 2/3;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.itemCart .product-cart .removeProducts {
  grid-column: 3/5;
  grid-row: 2/3;
  padding: 50px 0 0 50px;
}

@media (max-width: 768px) {
  .NavbarItems {
    z-index: 10;
  }
  .NavbarItems .navbarLinks {
    position: absolute;
    top: -700px;
    left: -2000px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.8s ease-in-out;
  }
  .NavbarItems .navbarLinks li {
    margin-top: 1.5rem;
    right: 0;
  }
  .NavbarItems .navbarLinks.active {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    padding-top: 30vh;
    background-color: #202022;
    border-radius: 0 0 30% 0;
  }
  .NavbarItems .navbarLinks.active a {
    color: #fff;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */