* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.NavbarItems {
  background-color: #202022;
  height: 60px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavbarItems h1 {
  color: #fff;
  font-weight: 500;
  transition: color ease 0.25s;
}
.NavbarItems h1:hover {
  color: #f39c12;
}
.NavbarItems h1 span {
  color: #f39c12;
  font-weight: 100;
  transition: color ease 0.25s;
}
.NavbarItems h1 span:hover {
  color: #fff;
}
.NavbarItems h1 i {
  color: aliceblue;
}
.NavbarItems .navbarLinks {
  text-align: center;
  list-style: none;
  display: flex;
}
.NavbarItems .navbarLinks a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}
.NavbarItems .navbarLinks a::before {
  content: "<";
  color: transparent;
  font-weight: bold;
  position: relative;
  top: 1px;
  transition: all ease 0.3s;
}
.NavbarItems .navbarLinks a::after {
  content: ">";
  color: transparent;
  font-weight: bold;
  position: relative;
  top: 1px;
  transition: all ease 0.3s;
}
.NavbarItems .navbarLinks li:hover a::before {
  color: #f39c12;
}
.NavbarItems .navbarLinks li:hover a::after {
  color: #f39c12;
}

/* nav-icon-6 */
.nav-icon-6 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  transition: all ease 0.25s;
}
.nav-icon-6:hover span {
  background-color: #f39c12;
}
.nav-icon-6 span {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}

.nav-icon-6 span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.nav-icon-6 span:nth-child(2) {
  top: 13px;
  left: 0px;
  opacity: 1;
}

.nav-icon-6 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.nav-icon-6:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.nav-icon-6:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.nav-icon-6:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.nav-icon-6.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.nav-icon-6.open span:nth-child(2) {
  opacity: 0;
}

.nav-icon-6.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}
@media (max-width: 768px) {
  .NavbarItems {
    z-index: 10;
  }
  .NavbarItems .navbarLinks {
    position: absolute;
    top: -700px;
    left: -2000px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.8s ease-in-out;
  }
  .NavbarItems .navbarLinks li {
    margin-top: 1.5rem;
  }
  .NavbarItems .navbarLinks.active {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    padding-top: 30vh;
    background-color: #202022;
    border-radius: 0 0 30% 0;
  }
  .NavbarItems .navbarLinks.active a {
    color: #fff;
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */